@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap');
body {
  background: #BCD39C;
  font-family: 'Readex Pro', sans-serif
}

.app {
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;
}

.form-item {
  width: 100%;
  color: #8e8358;
  font-size: 2em;
  background: #EAFDCF;
  border: none;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.form-item::placeholder {
  color: #8e8358;

}

.counter {
  margin: 2rem 0 1rem;
  font-size: 1.5em;
  color: rgb(43, 36, 36);
  border-bottom: 1px solid #8e8358;
  padding: 0.5rem 0;
  font-weight: lighter;
}

.list-item {
  display: block;
  background: #eafdcf;
  border-radius: 3px;
  padding: 1rem;
  margin: 0.5rem 0;
}

.list-item--done {
  opacity: 0.5;
  text-decoration: line-through;
}
a{
  color: #eafdcf;
  font-weight: lighter;
}
footer{
  text-align: right;
  border-bottom: #eafdcf 1px solid;
 
  padding: 1%;
}